<!DOCTYPE html>
<html>
 <head>
  <title>berrystats</title>
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" type="text/css" />
  <link href="style.css" rel="stylesheet" type="text/css" />
 </head>

 <body>
  <div id="title">
   <h1>berrystats</h1>
  </div>

  <div id="nav">
   <a href="/">home</a>
   <a href="/system">system</a>
   <a class="active" href="/about">about</a>
  </div>

  <div id="logo">
   <img src="berry.png" />
  </div>

  <div id="body">
   <p>berrystats is a tiny (12kb!) Flask/Jinja2 web app to report various stats about a Raspberry Pi running Linux.</p>
   <p>&nbsp</p>
   <p>Source code available here:</p>
   <a class="inline" href="http://github.com/willroberts/berrystats">http://github.com/willroberts/berrystats</a>
  </div>
 </body>
</html>
