<!DOCTYPE html>
<html>
 <head>
  <title>berrystats</title>
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" type="text/css" />
  <link href="style.css" rel="stylesheet" type="text/css" />
 </head>

 <body>
  <div id="title">
   <h1>berrystats</h1>
  </div>

  <div id="nav">
   <a class="active" href="/">home</a>
   <a href="/system">system</a>
   <a href="/about">about</a>
  </div>

  <div id="logo">
   <img src="berry.png" />
  </div>

  <div id="body">
   <div id="keys">
    <p>Current time:</p>
    <p>Distribution:</p>
    <p>Kernel version:</p>
    <p>System uptime:</p>
    <p>Requests served:</p>
   </div>
   <div id="values">
    <p>{{ time }}</p>
    <p>{{ distribution }}</p>
    <p>{{ kernel }}</p>
    <p>{{ uptime }}</p>
    <p>{{ counter }}</p>
   </div>
  </div>
 </body>
</html>
