<!DOCTYPE html>
<html>
 <head>
  <title>berrystats</title>
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" type="text/css" />
  <link href="style.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript">
   function timedRefresh() {
    setTimeout("location.reload(true);",10000); }
  </script>
  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>

 <body onload="javascript:timedRefresh();">
  <div id="title">
   <h1>berrystats</h1>
  </div>

  <div id="nav">
   <a class="active" href="/">home</a>
   <a href="/system">system</a>
   <a href="/about">about</a>
  </div>

  <div id="logo"></div>

  <div id="body">
   <div id="keys">
    <p>Current time:</p>
    <p>Distribution:</p>
    <p>Kernel version:</p>
    <p>System uptime:</p>
    <p>Requests served:</p>
   </div>
   <div id="values">
    <p>{{ time }}</p>
    <p>{{ distribution }}</p>
    <p>{{ kernel }}</p>
    <p>{{ uptime }}</p>
    <p>{{ counter }}</p>
   </div>
  </div>
 </body>
</html>
